.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

.framedPhoto {
  height: 100vh;
  width: 100vw;

  /* white mat border */
  padding: 3vw; /* 52px; */
  background-color: white;
}

/* center vertically and horizontally inside */
.photoContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  /* Ken Burns */
  overflow: hidden;
  position: relative;
}

.photoContainer img {
  /* Must have height and width set for object-fit to work */
  object-fit: cover;
  height: 100%;
  width: 100%;

  z-index: 1;

  /* Ken Burns */
  animation: move 10s ease-in-out infinite;
  /* Add infinite to loop. */
  position: absolute;

  /* Reduce flickering */
  -webkit-backface-visibility: hidden; /* add to fix webkit bug jitter */
  -webkit-transform: perspective(1000px); /* add to fix webkit bug jitter */
}

.photoContainer div {
  z-index: 2;
  position: absolute;

  flex: 0 1 auto;
  align-self: flex-end;
  width: 100%;
}

.photoContainer div h1 {
  color: white;
  /* font-size: 1.5em; */
  font-size: 2.25vw;
  text-shadow: black 0.05em 0.05em 1.5em;
  text-align: left;
  padding-left: 3.5vw;
  padding-bottom: 1vw;

  animation: textFade 10s ease-in-out infinite;
}

@keyframes textFade {
  0% {
    opacity: 0;
  }
  20% {
    /* lag a little from photo animation */
    opacity: 1;
  }
  25% {
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move {
  0% {
    transform-origin: bottom left;
    transform: scale(1);
    opacity: 0;
    filter: saturate(0%);
    /* filter: blur(50px); */
  }
  10% {
    opacity: 1;
    /* filter: blur(0px); */
  }
  25% {
    filter: saturate(100%);
  }
  90% {
    opacity: 1;
    /* filter: blur(0px); */
  }
  100% {
    transform: scale(1.1); /* depends on duration of animation */
    opacity: 0;
    /* filter: blur(50px); */
  }
}
