.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

.framedPhoto {
  height: 100vh;
  width: 100vw;

  /* white mat border */
  padding: 52px;
  background-color: white;
}

/* center vertically and horizontally inside */
.photoContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  /* Ken Burns */
  overflow: hidden;
  position: relative;
}

.photoContainer img {
  /* Must have height and width set for object-fit to work */
  object-fit: cover;
  height: 100%;
  width: 100%;

  z-index: 1;

  /* Ken Burns */
  animation: move 10s ease-in-out infinite;
  /* Add infinite to loop. */
  position: absolute;
}

.photoContainer div {
  z-index: 2;
  position: absolute;

  flex: 0 1 auto;
  align-self: flex-end;
  width: 100%;
}

.photoContainer div h1 {
  color: white;
  font-size: 4em;
  text-shadow: black 0.05em 0.05em 0.75em;
  text-align: left;
  padding-left: 1em;
}

@keyframes move {
  0% {
    transform-origin: bottom left;
    transform: scale(1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1.1); /* depends on duration of animation */
    opacity: 0;
  }
}
